/*head section and nav styling*/
.container-fluid {
  font-size: 18px;
  background-color: #f29bab;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #f29bab;
}

h1 {
  color: #a44ea6;
  font-size: 11vmin;
  font-family: "Pacifico", cursive;
  padding: 30px;
  text-align: center;
}
p {
  line-height: 1.8;
}
header {
  font-family: "Allerta Stencil", sans-serif;
}
/*colours overwritten on nav*/
.bg-dark {
  background-color: rgb(242, 62, 46) !important;
}
a.nav-link {
  color: rgb(255, 255, 255) !important;
}
a.nav-link:hover {
  color: blue !important;
  cursor: pointer;
}
.navbar-dark .navbar-brand {
  color: #ff79eb;
  font-size: 2em;
  font-family: "Pacifico", cursive;
}

.btn {
  border: none;
  color: rgb(255, 255, 255);
  background-color: #f23e2e !important;
}
footer {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Allerta Stencil";
  background-color: #a44ea6;
}
footer nav {
  display: flex;
}
/*Icon styling*/
.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 50px;
  height: 50px;
  margin: 5px 2px;
  border-radius: 50%;
}
.icon-link:hover {
  text-decoration: none;
  opacity: 0.7;
}
.icon-link i {
  color: white;
}
.facebook {
  background: #3b5998;
}
.twitter {
  background: #55acee;
}
.instagram {
  background: #ff4d7e;
}

.row {
  border-style: dashed;
  border-width: 10px;
  padding: 10px;
  border-color: #f23e2e;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

main {
  font-family: "Allerta Stencil";
  background-color: #f29bab;
  text-align: center;
  border-style: dashed;
  border-width: 10px;
  padding: 10px;
  border-color: #f23e2e;
}

main img {
  width: 400px;
  height: 400px;
}

.card-img-top {
  height: 200px;
  background-position: center;
  background-size: cover;
}

.card {
  background-color: #f2a81d;
  color: blue;
  font-family: "Allerta Stencil", sans-serif;
  text-align: center;
}

.card h5 {
  font-size: 30px;
  color: #f23e2e;
  font-family: "Pacifico", cursive;
}

.btn {
  border: none;
  color: #8ddaeb;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Pacifico", cursive;
}

.carousel-caption {
  top: 0 !important;
}

.carousel-caption h1 {
  color: #f23e2e !important ;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 15vw;
  border-style: dashed;
  border-width: 10px;
  padding: 10px;
  border-color: #f2a81d;
}
